@charset "utf-8";
/* CSS Document */

html, body {
    font-family: 'Rubik', Arial, Helvetica, sans-serif; 
    font-weight:normal;
}

.hdr-mrgn {
    margin-top: 54px;
}

.navbar-nav .nav-link {
    text-align: right;
}

.navbar-light .navbar-toggler {
    color: #50ff09;
    border-color: #50ff09;
}

.navbar-nav .nav-item {
    border-bottom: 5px solid #FFFFFF;
}

/*.navbar-nav .nav-item.active {
    border-bottom: 5px solid #000000;
}
*/
.carousel-inner .carousel-item img,
.carousel-inner .carousel-item video {
    width: 100%;
}

#home-page-banner-carousel .carousel-control-next,
#home-page-banner-carousel .carousel-control-prev {
    opacity: 1;
}

#home-page-banner-carousel .carousel-control-prev-icon {
    background-image: url(../images/left-arrow-angle-white.png);
}

#home-page-banner-carousel .carousel-control-next-icon {
    background-image: url(../images/right-arrow-angle-white.png);
}

#home-page-banner-carousel .carousel-control-next-icon,
#home-page-banner-carousel .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.plans-div {
    margin-top: 85px;
}

.text-plan-type-hdr {
    color: #613c86;
    font-weight: bold;
    font-size: 35px;
}

.text-plan-type-hdr span {
    color: #F59E1D;
}

.text-plan-type-desc {
    display: block;
    color: #404040;
    font-size: 17px;
}

.custom-container-fluid {
    width: 75%;
}

.packages-list-main-div .package-details-main-div {
    margin-top: 50px;
}

.package-details-div {
    width: 90%;
    padding: 60px 15px 25px 15px;
    background: #f5f5f5;
    text-align: center;
    margin: auto;
    transition: .2s ease-in-out;
}

.package-details-div:hover {
    width: 95%;
}

.package-details-div span {
    display: block;
}

.package-name {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.package-data-limit,
.package-speed,
.package-validity,
.package-price {
    color: #808080;
    font-size: 12px;
}

.package-validity {
    margin-top: 15px;
}

.package-price {
    margin-top: 25px;
}

.buy-plan-btn {
    border: 0;
    width: 120px;
    padding: 10px 5px;
    margin-top: 30px;
    border-radius: 0;
    background: #F59E1D;
    color: #FFFFFF;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.package-details-div:hover .buy-plan-btn {
    background: #F59E1D;
}

.most-popular {
    position: absolute;
    top: 20px;
    right: 5%;
    background: url(../images/offer-badge.png) right top no-repeat;
    height: 43px;
    color: #FFF;
    font-size: 14px;
    background-size: 115px;
    width: 117px;
    line-height: 30px;
    text-align: center;
    padding: 0px 0px 0px 3px;
    transition: .5s ease-in-out;
}

.package-details-div:hover .most-popular {
    right: 2.5%;
}

.most-popular-active .package-details-div {
    background: #613C86;
}

.most-popular-active .package-name,
.most-popular-active .package-data-limit,
.most-popular-active .package-speed,
.most-popular-active .package-validity,
.most-popular-active .package-price {
    color: #FFFFFF;
}

.error-msg-small, .error-msg {
    font-size: 11px;
}

footer {
    margin-top: 50px;
    padding: 70px 0px 0px 0px;
    background-color: rgba(72, 23, 119, 0.86);
}

.ftr-logo {
    text-align: left;
    padding-bottom: 30px;
}

.ftr-logo img {
    height: 25px;
}

.ftr-logo p {
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px;
    font-weight: lighter;
    letter-spacing: 0.88px;
}

.ftr-lnks {
    padding-bottom: 30px;
}

.ftr-lnks h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 21px;
    line-height: 30px;
}

.ftr-lnks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ftr-lnks li {
    list-style: none;
    margin: 0;
    padding: 0px 0px 16px 0px;
    display: block;
}

.ftr-lnks li a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}

.ftr-adrs {
    padding-bottom: 0px;
}

.ftr-adrs h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 21px;
    line-height: 30px;
}

.ftr-adrs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ftr-adrs li {
    list-style: none;
    margin: 0;
    padding: 0px 0px 9px 0px;
    display: block;
}

.ftr-adrs li a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}

.ftr-scl {
    text-align: left;
    padding-bottom: 30px;
}

.ftr-scl a {
    display: inline-block;
    margin-right: 12px;
    color: #FFF;
    text-decoration: none;
    width: 16px;
    text-align: center;
}

.privacy {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px 16px 0px;
    text-align: center;
}

.privacy a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.ftr-btm {
    background-color: rgba(0, 0, 0, 0.18);
    position: relative;
}

.ftr-copy {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    padding: 16px 0px 12px 0px;
    font-weight: 400;
}

.enquire-now-div {
    margin-top: 40px;
}

.enquire-now-txt {
    color: #613c86;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 20px;
}

.contact-fld {
    margin-bottom: 20px;
}

.contact-btn {
    background: transparent linear-gradient(180deg, #F59E1D 0%, #EB9E2C 100%) 0% 0% no-repeat;
    margin: 21px 0px 12px 0px;
    border-radius: 10px;
    padding: 12px 70px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    border: 0;
    float: right;
    letter-spacing: 0.79px;
}

.our-company {
    margin-top: 85px;
}

.our-company-img {
    width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 36% 64% 70%;
}

.custom-container-fluid-2 {
    width: 90%;
}

.our-company-hdr {
    color: #613c86;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.our-company-hdr span {
    color: #F59E1D;
}

.our-company-desc li::marker {
    color: #F59E1D;
    font-size: 23px;
}

.our-services {
    margin-top: 85px;
}

.our-services-hdr {
    color: #613c86;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.our-services-hdr span {
    color: #F59E1D;
}

.our-services {
    background: #613c8621;
    padding: 45px 0;
}

.service-we-provide {
    background: #FFFFFF;
    padding: 10px 10px;
    transition: .2s ease-in-out;
    text-align: center;
    margin-top: 30px;
}

.service-we-provide:hover {
    background: #f59e1d91;
}

.service-we-provide:hover {
    transform: translateY(-10px);
}

.service-number-image {
    position: relative;
}

.service-number {
    width: 100%;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F59E1D;
    transition: .2s ease-in-out;
}

.service-image img {
    width: 25%;
    margin: auto;
    opacity: 0;
    transition: .2s ease-in-out;
}

.service-we-provide:hover .service-number {
    opacity: 0;
}

.service-we-provide:hover .service-image img {
    opacity: 1;
}

.service-description-div {
    margin-top: 10px;
}

.service-description-div .service-hdr {
    color: #613c86;
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.service-we-provide:hover .service-hdr {
    color: #FFFFFF;
}

.service-description-div .service-desc {
    font-size: 13px;
    padding: 0 20px;
    margin-top: 10px;
    transition: .2s ease-in-out;
}

.service-we-provide:hover .service-desc {
    color: #FFFFFF;
}

.navbar-brand img {
    height: 80px;
}

#hm-testi {
    margin: auto;
    width: 100%;
    padding: 120px 0px 70px 0px;
}

.hm-testi-hd h1 {
    position: relative;
    color: #481777;
    font-size: 50px;
    background: #FFF;
    padding: 10px 43px;
    z-index: 1;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 0.75px;
}

.hm-testi-hd:after {
    position: absolute;
    content: "";
    left: 0;
    top: 39px;
    width: 100%;
    height: 1px;
    background-color: rgba(245, 158, 29, 0.7);
    z-index: 0;
}

#hm-testi .slick-prev {
    background-image: url(../images/left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#hm-testi .slick-next {
    background-image: url(../images/right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.hm-testi-item.slick-slide.slick-cloned {
    transition: .2s ease-in-out;
    margin-top: 20px;
}

.hm-testi-txt {
    color: #481777;
    font-size: 12px;
    /* line-height: 30px; */
    letter-spacing: 0.75px;
    font-weight: 400;
    width: 100%;
    margin: 0px auto;
    opacity: 0.5;
    transition: all ease-in 0.3s;
    min-height: 200px;
}

.hm-testi-nm {
    position: relative;
    background-color: #FFF;
    padding: 16px 30px 7px 30px;
    opacity: 0.5;
    transition: all ease-in-out 0.3s;
    margin-bottom: 30px;
}

.hm-testi-nm h3 {
    color: #4E4E4E;
    font-weight: 400;
    padding: 3px 0px 3px 0px;
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0.75px;
}

.hm-testi-nm p {
    color: #4E4E4E;
    font-weight: 300;
    padding: 3px 0px 3px 0px;
    font-style: italic;
    font-size: 12px;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm h3 {
    color: #FFF;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm p {
    color: #FFF;
}

.hm-testi-item {
    margin: 30px 40px;
    width: 100%;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-txt,
.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm {
    opacity: 1;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-txt {
    font-size: 14px;
}

#hm-testi .slick-prev.slick-arrow:before,
#hm-testi .slick-next.slick-arrow:before {
    content: '';
}

.hm-testi-hd {
    text-align: center;
    position: relative;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm {
    background-color: #613c86;
}

.hm-testi-hd h1 span {
    color: #F59E1D;
}

.btn-sign-in-hdr {
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 7px 10px;
    background-color: #F59E1D;
}

.custom-modal .modal-header {
    border-bottom: none;
}

.how-to-continue-txt {
    color: #000000;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.b-btn-continue-as-user, .b-btn-continue-as-user:hover, .b-btn-continue-as-user:focus {
    border: 0;
    background: #DCE5E5;
    padding: 10px 30px;
    border-radius: 36px;
    color: #F59E1D;
    font-size: 13px;
    font-weight: bold;
    width: 70%;
}

.no-text-decoration {
    text-decoration: none;
}

.b-btn-team-member-login {
    border: 0;
    background: #F59E1D;
    padding: 10px 30px;
    border-radius: 36px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.sign-in-modal-hdr-txt {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.mob-num p {
    color: #F59E1D;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 15px;
}

.mob-num input {
    margin-left: 0%;
    width: 100%;
    text-align: left;
    padding: 13px 13px;
    border: #707070 solid 0.5px;
    background-color: #FFFFFF;
    color: #F59E1D;
    font-size: 13px;
    border-radius: 3px;
}

.user-login-btn {
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 7px 10px;
    background-color: #F59E1D;
    float: right;
    margin-top: 15px;
}

.sign-in-modal-body {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}