@charset "utf-8";
/* CSS Document */

html, body {
    font-family: 'Rubik', Arial, Helvetica, sans-serif; 
    font-weight:normal;
}

* {
    outline: 0 !important;
}

.hdr-mrgn {
    margin-top: 54px;
}

.header-cnt .navbar-light .navbar-nav .nav-link {
    padding: 7px 12px 6px 12px;
    color: #481777;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    margin: 13px 9px;
    transition: all ease-in 0.1s;
}

.header-cnt .d-xl-flex {
    float: right;
}

.header-cnt .navbar-expand-xl .navbar-collapse {
    display: block !important;
    padding: 0px;
}

.navbar-nav .nav-link {
    text-align: right;
}

.navbar-light .navbar-toggler {
    color: #50ff09;
    border-color: #50ff09;
}

.navbar-nav .nav-item {
    border-bottom: 5px solid #FFFFFF;
}

/*.navbar-nav .nav-item.active {
    border-bottom: 5px solid #000000;
}
*/
.carousel-inner .carousel-item img,
.carousel-inner .carousel-item video {
    width: 100%;
}

#home-page-banner-carousel .carousel-control-next,
#home-page-banner-carousel .carousel-control-prev {
    opacity: 1;
}

#home-page-banner-carousel .carousel-control-prev-icon {
    background-image: url(../images/left-arrow-angle-white.png);
}

#home-page-banner-carousel .carousel-control-next-icon {
    background-image: url(../images/right-arrow-angle-white.png);
}

#home-page-banner-carousel .carousel-control-next-icon,
#home-page-banner-carousel .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.plans-div {
    margin-top: 85px;
}

.text-plan-type-hdr {
    color: #613c86;
    font-weight: bold;
    font-size: 35px;
}

.text-plan-type-hdr span {
    color: #F59E1D;
}

.text-plan-type-desc {
    display: block;
    color: #404040;
    font-size: 17px;
}

.custom-container-fluid {
    width: 75%;
}

.packages-list-main-div .package-details-main-div {
    margin-top: 50px;
}

.package-details-div {
    width: 90%;
    padding: 60px 15px 25px 15px;
    background: #f5f5f5;
    text-align: center;
    margin: auto;
    transition: .2s ease-in-out;
}

.package-details-div:hover {
    width: 95%;
}

.package-details-div span {
    display: block;
}

.package-name {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.package-data-limit,
.package-speed,
.package-validity,
.package-price {
    color: #808080;
    font-size: 12px;
}

.package-validity {
    margin-top: 15px;
}

.package-price {
    margin-top: 25px;
}

.buy-plan-btn {
    border: 0;
    width: 120px;
    padding: 10px 5px;
    margin-top: 30px;
    border-radius: 0;
    background: #F59E1D;
    color: #FFFFFF;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.package-details-div:hover .buy-plan-btn {
    background: #F59E1D;
}

.most-popular {
    position: absolute;
    top: 20px;
    right: 5%;
    background: url(../images/offer-badge.png) right top no-repeat;
    height: 43px;
    color: #FFF;
    font-size: 14px;
    background-size: 115px;
    width: 117px;
    line-height: 30px;
    text-align: center;
    padding: 0px 0px 0px 3px;
    transition: .5s ease-in-out;
}

.package-details-div:hover .most-popular {
    right: 2.5%;
}

.most-popular-active .package-details-div {
    background: #613C86;
}

.most-popular-active .package-name,
.most-popular-active .package-data-limit,
.most-popular-active .package-speed,
.most-popular-active .package-validity,
.most-popular-active .package-price {
    color: #FFFFFF;
}

.error-msg-small, .error-msg {
    font-size: 11px;
}

footer {
    margin-top: 50px;
    padding: 70px 0px 0px 0px;
    background-color: rgba(72, 23, 119, 0.86);
}

.ftr-logo {
    text-align: left;
    padding-bottom: 30px;
}

.ftr-logo img {
    height: 25px;
}

.ftr-logo p {
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px;
    font-weight: lighter;
    letter-spacing: 0.88px;
}

.ftr-lnks {
    padding-bottom: 30px;
}

.ftr-lnks h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 21px;
    line-height: 30px;
}

.ftr-lnks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ftr-lnks li {
    list-style: none;
    margin: 0;
    padding: 0px 0px 16px 0px;
    display: block;
}

.ftr-lnks li a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}

.ftr-adrs {
    padding-bottom: 0px;
}

.ftr-adrs h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 21px;
    line-height: 30px;
}

.ftr-adrs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ftr-adrs li {
    list-style: none;
    margin: 0;
    padding: 0px 0px 9px 0px;
    display: block;
}

.ftr-adrs li a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}

.ftr-scl {
    text-align: left;
    padding-bottom: 30px;
}

.ftr-scl a {
    display: inline-block;
    margin-right: 12px;
    color: #FFF;
    text-decoration: none;
    width: 16px;
    text-align: center;
}

.privacy {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px 16px 0px;
    text-align: center;
}

.privacy a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.ftr-btm {
    background-color: rgba(0, 0, 0, 0.18);
    position: relative;
}

.ftr-copy {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    padding: 16px 0px 12px 0px;
    font-weight: 400;
}

.enquire-now-div {
    margin-top: 40px;
}

.enquire-now-txt {
    color: #613c86;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 20px;
}

.contact-btn {
    background: transparent linear-gradient(180deg, #F59E1D 0%, #EB9E2C 100%) 0% 0% no-repeat;
    margin: 21px 0px 12px 0px;
    border-radius: 10px;
    padding: 12px 70px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    border: 0;
    float: right;
    letter-spacing: 0.79px;
}

.our-company {
    margin-top: 85px;
}

.our-company-img {
    width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 36% 64% 70%;
}

.custom-container-fluid-2 {
    width: 90%;
}

.our-company-hdr {
    color: #613c86;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.our-company-hdr span {
    color: #F59E1D;
}

.our-company-desc li::marker {
    color: #F59E1D;
    font-size: 23px;
}

.our-services {
    margin-top: 85px;
}

.our-services-hdr {
    color: #613c86;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.our-services-hdr span {
    color: #F59E1D;
}

.our-services {
    background: #613c8621;
    padding: 45px 0;
}

.service-we-provide {
    background: #FFFFFF;
    padding: 10px 10px;
    transition: .2s ease-in-out;
    text-align: center;
    margin-top: 30px;
}

.service-we-provide:hover {
    background: #f59e1d91;
}

.service-we-provide:hover {
    transform: translateY(-10px);
}

.service-number-image {
    position: relative;
}

.service-number {
    width: 100%;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F59E1D;
    transition: .2s ease-in-out;
}

.service-image img {
    width: 25%;
    margin: auto;
    opacity: 0;
    transition: .2s ease-in-out;
}

.service-we-provide:hover .service-number {
    opacity: 0;
}

.service-we-provide:hover .service-image img {
    opacity: 1;
}

.service-description-div {
    margin-top: 10px;
}

.service-description-div .service-hdr {
    color: #613c86;
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.service-we-provide:hover .service-hdr {
    color: #FFFFFF;
}

.service-description-div .service-desc {
    font-size: 13px;
    padding: 0 20px;
    margin-top: 10px;
    transition: .2s ease-in-out;
}

.service-we-provide:hover .service-desc {
    color: #FFFFFF;
}

.navbar-brand img {
    height: 80px;
}

#hm-testi {
    margin: auto;
    width: 100%;
    padding: 120px 0px 70px 0px;
}

.hm-testi-hd h1 {
    position: relative;
    color: #481777;
    font-size: 50px;
    background: #FFF;
    padding: 10px 43px;
    z-index: 1;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 0.75px;
}

.hm-testi-hd:after {
    position: absolute;
    content: "";
    left: 0;
    top: 39px;
    width: 100%;
    height: 1px;
    background-color: rgba(245, 158, 29, 0.7);
    z-index: 0;
}

#hm-testi .slick-prev {
    background-image: url(../images/left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#hm-testi .slick-next {
    background-image: url(../images/right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.hm-testi-item.slick-slide.slick-cloned {
    transition: .2s ease-in-out;
    margin-top: 20px;
}

.hm-testi-txt {
    color: #481777;
    font-size: 12px;
    /* line-height: 30px; */
    letter-spacing: 0.75px;
    font-weight: 400;
    width: 100%;
    margin: 0px auto;
    opacity: 0.5;
    transition: all ease-in 0.3s;
    min-height: 200px;
}

.hm-testi-nm {
    position: relative;
    background-color: #FFF;
    padding: 16px 30px 7px 30px;
    opacity: 0.5;
    transition: all ease-in-out 0.3s;
    margin-bottom: 30px;
}

.hm-testi-nm h3 {
    color: #4E4E4E;
    font-weight: 400;
    padding: 3px 0px 3px 0px;
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0.75px;
}

.hm-testi-nm p {
    color: #4E4E4E;
    font-weight: 300;
    padding: 3px 0px 3px 0px;
    font-style: italic;
    font-size: 12px;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm h3 {
    color: #FFF;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm p {
    color: #FFF;
}

.hm-testi-item {
    margin: 30px 40px;
    width: 100%;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-txt,
.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm {
    opacity: 1;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-txt {
    font-size: 14px;
}

#hm-testi .slick-prev.slick-arrow:before,
#hm-testi .slick-next.slick-arrow:before {
    content: '';
}

.hm-testi-hd {
    text-align: center;
    position: relative;
}

.hm-testi-item.slick-slide.slick-current.slick-active.slick-center .hm-testi-nm {
    background-color: #613c86;
}

.hm-testi-hd h1 span {
    color: #F59E1D;
}

.btn-sign-in-hdr {
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 7px 10px;
    background-color: #F59E1D;
}

.custom-modal .modal-header {
    border-bottom: none;
}

.how-to-continue-txt {
    color: #000000;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.b-btn-continue-as-user, .b-btn-continue-as-user:hover, .b-btn-continue-as-user:focus {
    border: 0;
    background: #DCE5E5;
    padding: 10px 30px;
    border-radius: 36px;
    color: #F59E1D;
    font-size: 13px;
    font-weight: bold;
    width: 70%;
}

.no-text-decoration {
    text-decoration: none;
}

.b-btn-team-member-login {
    border: 0;
    background: #F59E1D;
    padding: 10px 30px;
    border-radius: 36px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.sign-in-modal-hdr-txt {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.mob-num p {
    color: #F59E1D;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 15px;
}

.mob-num input {
    margin-left: 0%;
    width: 100%;
    text-align: left;
    padding: 13px 13px;
    border: #707070 solid 0.5px;
    background-color: #FFFFFF;
    color: #a7a7a7;
    font-size: 13px;
    border-radius: 3px;
}

.user-login-btn {
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 7px 10px;
    background-color: #F59E1D;
    float: right;
    margin-top: 15px;
}

.sign-in-modal-body {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.user-logout-btn {
    outline: 0;
    border: 0;
    background: transparent;
    margin-top: 5px;
}

.index-enquiry-now-img {
    width: 100%;
}

#contact1 {
    margin: auto;
    padding: 90px 0px 0px 0px;
    width: 100%;
}

.contact1-hd h1 {
    font-weight: 500;
    font-size: 50px;
    color: #481777;
    padding-left: 30px;
    letter-spacing: 0.75px;
}

.contact1-hd p {
    color: #371F68;
    line-height: 30px;
    padding-left: 30px;
    font-size: 16px;
    letter-spacing: 0.96px;
}

.contact1-map img {
    width: 100%;
    position: relative;
    top: -110px;
    z-index: -1;
}

.map-location-div .not-hover-img {
    display: block;
    transition: .2s ease-in-out;
}

.map-location-div:hover .not-hover-img {
    display: none;
    transition: .2s ease-in-out;
}

.map-location-div .on-hover-img {
    opacity: 0.6;
    display: none;
    transition: .2s ease-in-out;
}

.map-location-div:hover .on-hover-img {
    display: block;
    transition: .2s ease-in-out;
}

.contact1-dtls {
    text-align: center;
}

.contact1-bx {
    background: transparent linear-gradient(65deg, #613C86 0%, #53307C 100%) 0% 0% no-repeat;
    position: relative;
    border-radius: 7px 0px 0px 7px;
    padding: 16px 45px 30px 45px;
}

.contact-fld {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 7px 0px 12px 0px;
    font-size: 16px;
    color: #FFF;
    font-weight: 300;
    width: 96%;
    margin-top: 21px;
    outline: 0;
}

.contact-btn {
    background: transparent linear-gradient(180deg, #F59E1D 0%, #EB9E2C 100%) 0% 0% no-repeat;
    margin: 21px 0px 12px 0px;
    border-radius: 10px;
    padding: 12px 70px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    border: 0;
    float: right;
    letter-spacing: 0.79px;
    outline: 0;
}

.contact-fld2 {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 7px 0px 12px 0px;
    font-size: 16px;
    color: #FFF;
    font-weight: 300;
    width: 98%;
    margin-top: 21px;
    height: 50px;
    outline: 0;
}

.contact-fld::placeholder,
.contact-fld2::placeholder {
    color: #FFFFFF;
}

.contact1-adrs {
    padding: 45px 45px 30px 45px;
}

.contact1-adrs-txt {
    text-align: left;
    padding-bottom: 25px;
}

.contact1-adrs-txt h3 {
    color: #481777;
    text-transform: uppercase;
    font-size: 16px;
}

.contact1-adrs-txt p {
    color: #481777;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
}

.contact1-adrs-txt p a, .contact1-adrs-txt p a:hover {
    color: #481777;
    text-decoration: none;
}

#blog-banner {
    margin: auto;
    padding: 60px 0px 0px 0px;
    width: 100%;
}

.blog-cnt {
    background: #FFF;
    padding: 120px 0px;
    position: relative;
}

.blog-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blog-txt h1 {
    font-weight: 500;
    font-size: 50px;
    color: #481777;
}

#blog1 {
    margin: auto;
    width: 100%;
    padding: 0px 0px 70px 0px;
}

.blog-search {
    border: 1px solid rgba(112, 112, 112, 0.5);
    border-radius: 7px;
    padding: 3px;
}

#blog-search .search-div {
    width: 100%;
}

#blog-search input[type=text] {
    padding: 9px 12px 9px 7px;
    font-size: 14px;
    border: none;
    width: 88%;
}

#blog-search button {
    float: left;
    padding: 7px 0px 7px 16px;
    background: #FFF;
    border: none;
    cursor: pointer;
    width: 50px;
}

.blog-search-remove-keywords-btn {
    float: right !important;
    width: 30px !important;
    padding: 8px 0 0 0 !important;
}

.blog-select {
    position: relative;
}

.blog-select hr {
    margin: 0;
    border: 0;
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: -16px;
    background: rgba(0,0,0,.1);
}

.blog-select select {
    background: url(../images/down.png) no-repeat;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background-position: right 10px center;
    background-size: 11px;
    outline: 0;
}

#blog-search button img {
    width: 25px;
}

.blog-search-remove-keywords-btn img {
    width: 12px !important;
}

.blog-fld {
    padding: 9px 7px 9px 12px;
    font-size: 14px;
    border: none;
    width: 96%;
}

#blog-results {
    margin: auto;
    width: 100%;
    padding: 16px 0px;
}

.blog-bx {
    position: relative;
    margin: 30px 0px 120px 0px;
}

.blog-bx-img {
    position: relative;
}

.blog-bx-img img {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 3px 26px #00000017;
}

.blog-bx-img:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: transparent linear-gradient(309deg, #F59E1D 0%, #FFC36A 100%) 0% 0% no-repeat;
    opacity: 0.19;
}

.blog-bx-cnt {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 21px 30px;
    z-index: 1;
    left: 15%;
    bottom: -12%;
    transition: all 0.3s;
}

.blog-bx-cnt:before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    padding: 25px 30px;
    left: 0;
    z-index: -1;
    top: 0;
    transition: all 0.3s;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px #00000029;
    border: 1px solid rgba(56, 22, 83, 0.6);
    border-radius: 7px;
}

.blog-bx-txt {
    text-align: center;
}

.blog-bx-txt span {
    color: #B2B2B2;
    font-size: 12px;
    line-height: 21px;
}

.blog-bx-txt h3 {
    font-size: 16px;
    color: #000000;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 7px;
}

.blog-bx-txt p {
    display: none;
    transition: all 0.3s;
}

.blog-bx-txt a {
    display: none;
    transition: all 0.3s;
}

.blog-bx:hover .blog-bx-cnt {
    bottom: -21%;
}

.blog-bx:hover .blog-bx-cnt:before {
    transform: scale(1.1);
    border: 1px solid #481777;
    left: 0;
    top: 0;
    background: transparent linear-gradient(180deg, #53307C 0%, #3C1167 100%) 0% 0% no-repeat;
}

.blog-bx:hover .blog-bx-txt span {
    color: #FFF;
}

.blog-bx:hover .blog-bx-txt h3 {
    color: #FFF;
}

.blog-bx:hover .blog-bx-txt p {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    display: block;
}

.blog-bx:hover .blog-bx-txt a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    padding: 12px 50px;
    font-weight: 300;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    letter-spacing: 0.79px;
}

.blog-breadcrum {
    display: block;
    padding-bottom: 50px;
}

.blog-breadcrum, .blog-breadcrum a {
    color: #000000;
    text-decoration: none;
}

.blog-breadcrum a .fa {
    font-size: 22px;
    padding-right: 5px;
}

.blog-txt-1 h1 {
    font-weight: 500;
    font-size: 50px;
    color: #481777;
}

.blog-details-thumbnail {
    width: 100%;
    border-radius: 10px;
}

.blog-description {
    color: #191919;
    font-size: 17px;
    margin: 30px 0;
    letter-spacing: 0.81px;
    line-height: 1.6;
}